
.formMenu {
    float: left;
    height: 40px;
    margin: 5px 0;
    position: relative;
    width: 100%;
    z-index: 100;
}
.formMenu .searchinput {
    border: 1px solid #77a5b4;
    height: 25px;
    margin: 6px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 192px;
}
.formMenu .searchinput input {
    border: 0 none;
    float: left;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.formMenu .searchinput a i {
    display: inline-block;
    height: 16px;
    margin-top: 5px;
    vertical-align: middle;
    width: 16px;
}
.formMenu .fmL {
    float: left;
    margin-left: 0;
    margin-top: 5px;
}
.formMenu .fmLb {
    cursor: pointer;
    float: left;
    height: 30px;
    margin-right: 5px;
    width: 30px;
}
.formMenu .showRow {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll 0 0;
}
.formMenu .Filter_form {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll 0 -30px;
}
.formMenu .Enlarge_form {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll 0 -60px;
}
.formMenu .showRow:hover {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll -34px 0;
}
.formMenu .Filter_form:hover {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll -34px -30px;
}
.formMenu .Enlarge_form:hover {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll -34px -60px;
}
.Enlarge .Enlarge_form:hover {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll -34px -88px;
}
.formMenu .add-div {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #858585;
    cursor: pointer;
    float: left;
    height: 18px;
    margin: 2px 0 0 10px;
    padding: 4px 0 4px 10px;
    text-align: left;
    width: 60px;
}
.formMenu .arrowup {
    border-bottom: medium none !important;
    display: inline-block;
    font-size: 30px !important;
    margin: 8px 0 0 3px;
    padding: 0 0 0 5px;
    vertical-align: middle;
    width: 10px;
    z-index: 1000;
}
.selectedNum {
    display: none;
    float: left;
    line-height: 40px;
    margin-left: 15px;
}
.Bubble_list {
}
.Bubble_list ul {
    float: left;
    margin: 0;
    width: 150px;
}
.Bubble_list ul li {
    float: left;
    line-height: 25px;
    padding-left: 30px;
    width: 120px;
}
.Bubble_list li:hover {
    background-color: #efefef;
}
.Bubble_list ul li a {
    display: block;
    overflow: hidden;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.PTlist {
    padding-left: 10px !important;
    width: 140px !important;
}
.Enlarge {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 999;
}
.Enlarge .Contact {
    border-left: 0 none;
    border-right: 0 none;
}
.Enlarge .UnityTable {
    width: 100% !important;
}
.Enlarge .fmL {
    margin-left: 20px;
}
.Enlarge .searchinput {
    right: 20px;
}
.Enlarge .UnityTable_n {
    background-color: #fff;
    border-left: 0 none;
    border-right: 0 none;
}
.Enlarge .Enlarge_form {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll 0 -88px;
}
.Enlarge .FilterTab {
    margin: 0 0 0 5px;
}
.Enlarge .formButtom {
    margin-right: 5px;
}
.Enlarge .Trash_box {
    margin-right: 5px;
}
.Enlarge .pageNum {
    margin-right: 35px;
}
.form_page {
    bottom: 23px;
    position: absolute;
    width: 100%;
}
.form_page .pagination {
    float: right;
}
.UnityTable .form_page {
    float: left;
    margin: 10px 0;
    position: static;
}
.pageNum {
    border: 1px solid #c8c8c8;
    color: #296e92;
    cursor: pointer;
    float: right;
    margin: 2px 10px 0;
    padding: 2px 5px;
}
.Trash_box {
    float: right;
    height: 30px;
    position: relative;
    width: 30px;
}
.Trash {
    background: rgba(0, 0, 0, 0) url("/static/images/memu_ico.png") no-repeat scroll -35px -117px;
    cursor: pointer;
    float: right;
    height: 30px;
    margin-right: 10px;
    position: absolute;
    width: 30px;
    z-index: 99;
}
.Tnum_par {
    height: 19px;
    margin-top: 8px;
    position: relative;
    width: 30px;
}
.Tnum {
    background-color: #1c658b;
    bottom: 0;
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}
.Trash_box .null {
    background-position: -2px -117px !important;
}
.form_selected {
    background: rgba(0, 0, 0, 0) url("/static/images/ico_right.png") no-repeat scroll 8px 7px;
}
.Contact {
    position: relative;
}
.Contact_l {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 221px;
    z-index: 999;
}
.Contact_r {
    background-color: #fff;
    margin-left: 220px;
    overflow: hidden;
    position: relative;
}
.Contact_list {
    float: left;
}
.drag_area {
    background: #000000 none repeat scroll 0 0;
    cursor: e-resize;
    display: block;
    float: right;
    height: 100%;
    margin-right: -10px;
    opacity: 0;
    position: relative;
    width: 10px;
    z-index: 999;
}
.click_area {
    background-color: #f5f5f5;
    background-image: url("/static/images/arrow_2.png");
    background-repeat: no-repeat;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    cursor: pointer;
    float: right;
    height: 100%;
    min-height: 202px;
    width: 10px;
}
.area_on {
    background-position: 2px center;
    margin-left: -1px;
}
.area_off {
    background-position: -6px center;
}
.FilterTab_con {
    float: left;
    padding: 15px 0 5px 15px;
    width: 100%;
}
.Contact_zon {
    margin: 0 auto;
    width: 981px;
}
.FilterTab {
    background-color: #f8f8f8;
    border: 1px solid #dbdbdb;
    color: #858585;
    float: left;
    margin: 0 5px;
    padding: 2px 5px;
    position: relative;
}
.form_title {
    color: #444444;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 20px 0;
}
.FilterTab .Close {
    background-position: -142px -241px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    margin-left: 8px;
    vertical-align: middle;
    width: 18px;
}
.Contact_zon .UnityTable {
    background-color: #fff;
    float: left;
    width: 981px;
}
.Contact_zon .UnityTable_n {
    border: 0 none;
    min-height: 358px;
    padding-bottom: 60px;
}
.Contact_zon .fmL {
    margin-left: 20px;
}
.Contact_list {
    margin-top: 10px;
    width: 209px;
}
.Contact_list li {
    float: left;
    line-height: 21px;
    padding: 5px 0;
    position: relative;
    width: 100%;
}
.Contact_list li a {
    display: block;
    height: 100%;
    width: 100%;
}
.Contact_list li:hover {
    background-color: #efefef !important;
}
.Contact_list .Clist_name {
    float: left;
    margin-left: 10px;
    max-width: 108px;
    overflow: hidden;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Contact_list .TNum {
    border-radius: 2px;
    color: #939393;
    margin-right: 5px;
    padding: 0 3px;
}
.Contact_l_con {
    float: left;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 209px;
}
.tbor {
    border-top: 1px solid #f5f5f5;
    float: left;
    margin: 15px 0 0 10px;
    width: 170px;
}
.datebox {
    float: left;
    position: relative;
    width: 520px;
}
.datebox .datecon_s {
    float: left;
    height: 300px;
    width: 260px;
}
.datebox .datecon_e {
    float: left;
    height: 300px;
    width: 260px;
}
.formBox {
    padding: 10px;
}
.sxCon .Filter_add input {
    margin: 0;
}
.sxCon input {
    margin: 0;
}
.sxCon select {
    height: 26px;
    margin: 0;
    vertical-align: middle;
}
.sxCon {
    margin: 5px 0;
    min-height: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.Filter_add {
    min-height: 200px;
}
.Filter_add select {
    height: 25px;
    max-width: 375px;
    vertical-align: middle;
}
.sxCon label {
    line-height: 16px;
}
.formBox .WJButton {
    font-size: 12px !important;
    margin-top: 2px;
    padding: 0.4em 1.5em !important;
}
.loaddiv .WJButton {
    font-size: 12px !important;
    margin-right: 5px;
    margin-top: 2px;
    padding: 0.4em 1.5em !important;
}
.AddContact {
    float: left;
    margin-right: 10px;
    padding: 10px 0;
    text-align: right;
    width: 95px;
}
.huibut {
    background-color: #efefef;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    padding: 3px 8px;
}
.huibut:hover {
    background-color: #e4e4e4;
}
.frm_input_box {
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 0 10px;
    position: relative;
    vertical-align: middle;
    width: 168px;
}
.frm_input_box .frm_input {
    border: medium none;
    margin: 5px 0;
    width: 130px;
}
.frm_a {
    display: inline-block !important;
    width: auto !important;
}
.icon01 {
    background-repeat: no-repeat;
    float: left;
    height: 16px !important;
    line-height: 80px;
    margin-left: 8px;
    overflow: hidden;
    width: 18px !important;
}
.Contact_list li:hover .menu_opr {
    display: block;
}
.Contact_list li .frm_input_box {
    display: none;
    margin: 0 10px;
    position: relative;
    z-index: 999;
}
.menu_opr {
    display: none;
    position: absolute;
    right: 10px;
    top: 8px;
}
.edit_gray {
    background-position: -82px -322px;
}
.del_gray {
    background-position: -102px -322px;
}
.addcontact {
    padding: 20px 30px;
}
.AddContactCon {
}
.Field_l {
    float: left;
    width: 460px;
}
.Field_r {
    float: left;
    min-height: 200px;
    width: 460px;
}
.Field_b {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
.ipt_zon {
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.ipt_zon:hover .ipt_del, .ipt_zon:hover .add_ipt {
    display: inline-block;
}
.ipt_lab {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: right;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}
.ipt_text {
    float: left;
    margin: 0;
    width: 200px;
}
.ipt_del {
    cursor: pointer;
    display: none;
    float: left;
    height: 13px;
    line-height: 50px;
    margin: 5px 0 0 10px;
    overflow: hidden;
    width: 13px;
}
.ipt_con {
    float: left;
    margin-left: 140px;
    padding-bottom: 12px;
    position: relative;
}
.ipt_list {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.ContactCon_top {
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    text-align: right;
    width: 100%;
}
.ContactCon_top .getContactList {
    color: #236387;
    float: left;
    font-size: 16px;
    margin-left: 35px;
}
.ContactCon_top .getContactList span {
    font-family: "ו";
}
.ContactCon_top .ContactDel {
    color: #e29140;
    font-size: 16px;
    margin-right: 35px;
}
.ContactCon_top .forminfoDel {
    color: #e29140;
    font-size: 16px;
    margin-right: 35px;
}
.padT30 {
    padding-top: 30px;
}
.add_ipt {
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 16px;
    left: 0;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 16px;
}
.Contact_custom_Field {
    border-top: 1px solid #efefef;
    margin-top: 20px;
    padding-top: 20px;
}
.AddContact_an {
    float: left;
    height: 20px;
    line-height: 18px;
    margin-left: 137px;
}
.AddContact_an .add-icon-active {
    background-position: -20px -200px;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    width: 20px;
}
.acontact {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.dataListUL {
    max-height: 200px;
    min-width: 190px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dataListUL li {
    margin-top: 2px;
    width: auto;
}
.dataListUL li a:hover {
    background-color: #e5e5e5 !important;
}
.dataListUL li a {
    display: block;
    padding: 2px 5px;
}
.addC_an {
    border-top: 1px solid #dbdbdb;
    float: left;
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
}
.addC_an a {
    color: #1c658b;
    font-size: 14px;
    margin-left: 5px;
}
.addC_an .frm_ipt {
    display: none;
    margin: 5px 0;
}
.addnewField {
}
.Contact_custom_Field .ipt_zon {
    width: 100%;
}
.contact_form_an {
    margin: 40px 0 0 140px;
}
.TransverseTextarea {
    height: 100px;
    margin: 10px 0 15px;
    resize: none;
    width: 463px;
}
.selectTransverse select {
    float: left;
    margin: 0 0 0 10px;
}
.selectTransverse select:first-child {
    float: left;
    margin: 0;
}
.jt_right i {
    background: rgba(0, 0, 0, 0) url("/static/images/frontpage.png") no-repeat scroll -247px -8px;
    display: inline-block;
    height: 61px;
    width: 31px;
}
.jt_left i {
    background: rgba(0, 0, 0, 0) url("/static/images/frontpage.png") no-repeat scroll -247px -89px;
    display: inline-block;
    height: 61px;
    width: 31px;
}
.jt_scroll {
    position: fixed;
}
.jt_left {
    left: 17px;
}
.jt_right {
    right: 17px;
}
.ipt_list button {
    margin-top: 2px !important;
}
.nowPage {
    color: #444444;
    font-size: 14px;
    margin: 40px 0;
    text-align: center;
}
.nowPage span {
    color: #3a799a;
    font-size: 18px;
}
.sxCon .add_ipt {
    display: block;
}
.field_con {
    float: left;
    padding-bottom: 25px;
    position: relative;
    width: 100%;
}
.sxCon .select-div {
    float: left;
}
.sxCon .field_div {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.sxCon .select-div span {
    min-width: 80px;
}
.Equal {
    float: left;
    height: 7px;
    margin: 10px 15px 0;
    width: 12px;
}
.sxCon .ipt_del {
    display: block;
}
.no_bL tr td:first-child {
    border-left: medium none !important;
}
.forminfo {
    background-color: #efefef;
    margin: 10px 35px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.forminfoUl {
    margin-left: 20px;
    width: 830px;
}
.forminfoUl li {
    float: left;
    line-height: 28px;
    width: 270px;
}
.formMore {
    bottom: 12px;
    color: #1c658b;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 80px;
}
.formMore .arrowup {
    margin: 0 !important;
}
.formMore .arrowupt {
    border-color: #1c658b transparent transparent;
}
.fm .arrowupt {
    border-color: transparent transparent #1c658b;
    border-style: dashed dashed solid;
    border-width: 0 5px 5px;
}
.MergerContact {
    float: left;
    margin: 10px;
    width: 500px;
}
.MergerContact table td {
    padding: 5px;
    vertical-align: top;
    white-space: normal !important;
}
.MergerContact table td label {
    margin: 0 10px 0 0;
}
.MCTitle {
    max-width: 100px;
    overflow: hidden;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.FilterList {
    float: left;
    padding-top: 10px;
    width: 100%;
}
.nav {
    display: inline-block;
}
.nav li {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 2px;
    color: #4c4c4c;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 18px;
    height: 27px;
    margin-left: 6px;
    padding: 0.9em 1.2em;
}
.nav li:first-child {
    margin-left: 0;
}
.navwidth li {
    padding: 5px 0 !important;
    text-align: center;
    width: 140px;
}
.navwidth li a {
    color: #919191;
}
.pleft {
    padding-left: 23px;
}
.accountdiv .pleft {
    padding-left: 0;
}
.curent {
    background-color: #fff !important;
    border-bottom: 3px solid #fff !important;
    border-radius: 2px 2px 0 0 !important;
    border-top: 3px solid #0398ff !important;
    line-height: 21px;
}
.curent a {
    color: #999 !important;
}
.Centwidth {
    margin: 0 auto;
    width: 981px;
}
.container-fluid {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 0;
    width: 990px;
    z-index: 9999;
}
.Help_up_form {
    background-image: url("/static/images/wj_table_1.png");
    background-position: 26px 162px;
    background-repeat: no-repeat;
    height: 500px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: 990px;
    z-index: 9999;
}
.pos {
    background: rgba(0, 0, 0, 0) url("/static/images/wj_next.png") no-repeat scroll 0 0;
    height: 42px;
    left: 400px;
    position: relative;
    top: 450px;
    width: 251px;
}
.next_page {
    cursor: pointer;
    display: inline;
    float: left;
    height: 40px;
    width: 150px;
}
.close_help {
    cursor: pointer;
    display: inline;
    float: left;
    height: 40px;
    width: 100px;
}
.wj_table_41 {
    left: 550px;
    position: absolute;
    top: 50px;
    z-index: 9999;
}
.popupComponent1 {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9999;
}
.DownFile_link {
    background-color: #63adca;
    color: #fff;
    cursor: pointer;
    height: 21px;
    padding: 5px;
    position: absolute;
}
