.tableStyle span.error {
	margin-left:5px;
color:red;
height: 18px;
line-height: 18px;
position: absolute; 
z-index:999;
}
.errorblock{
	width:100%;
	color:red;
	text-align: center;
}

.readonly{background-color:#dedede;}

.searchBox{
	width:100%;
	border:1px solid #83b1f2;
}

#imgBrowser{
	cursor: pointer;
}