@CHARSET "UTF-8";
.wwx_f_l{
	float: left;
	top: 10px;
}
.wwx_f_a{
	margin-top:9px;
}
.inputhaha{
	width:30%;
	height: 20px;
	margin-left: -5px;
}
.wwx_f_r{
	float: right;
}
.wwx_clear{
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
	width: 0;
	border: none;
	overflow: hidden;
}
.wwx_v_m{
	vertical-align: middle;
}
.wwx_font_12{
	font-size: 12px;	
}
.wwx_font_14{
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	font: 12px/15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #555;
	background: #f5f5f5;
}


#content {
	width: 65%;
	max-width: 690px;
	margin: 6% auto 0;
}

table {
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	width: 70%;
	margin: 1% auto 0;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th,td {
	padding-bottom: 13px;
	padding-top: 13px;
	text-align: center;
	width: 50%;
}

th {
	padding-top: 22px;
	text-shadow: 1px 1px 1px #fff;
	background: #e8eaeb;
}

td {
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	width: 50%;
}

tr.odd-row td {
	background: #f6f6f6;
}

td.first,th.first {
	font-size: 18px;
	text-align: left;
	width:25%;
}

td.last,th.last {
	 font-size: 13px;
	text-align: left
}

td.last {
	border-right: none;
}

td {
	background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9),
		to(#fefefe));
}

tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1),
		to(#f6f6f6));
}

th {
	background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed),
		to(#e8eaeb));
}

tr:first-child th.first {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px; /* Saf3-4 */
}

tr:first-child th.last {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px; /* Saf3-4 */
}

tr:last-child td.first {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}

tr:last-child td.last {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}
.SelectList
		{
		    position: relative;
		    background-color: transparent;
		    TOP:   -2px;
		    left:-2px;
		    border-width: 0px;
		    border-top-style: none; 
		    border-right-style: none; 
		    border-left-style: none; 
		    border-bottom-style: none;
		    height: 20px;
		    overflow:hidden;
		}
	.style1{
		margin: 0px 3%;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.style2{
		text-align: center;
		margin: 10px 0px;
		font-size:20px;
	}
	.style3{
		background:url("<%=path%>/resources/images/bg1.png") repeat-x;
		height: 30px;
		padding-top: 7px;
	}
	.style3 a{
		margin-right: 10%;
	}
	.style3 .selected{
		color: #37b0c9;
	}
	.style4{
		margin: 20px 3%;
	}
	.maring1{
		margin-bottom: 30px;
	}
	.style4 p{
/* 		margin-bottom: 5px; */
		font-size: 14px;
		/* color: #323e48; */
	}
	.style4 .title{
		font-size: 16px;
		float: left;
	}
	.bg1{
	background-attachment: scroll;
    background-clip: border-box;
    background-color: #58CBFA;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-top-width: 2px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
    height: 57px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
	}
	.font1{
		font-weight: bold;
		color: white;
		font-size: 16px;
        text-decoration:none;
}
	}
	.input1{
		width:60%;
		margin-left:5%;
		height: 30px;
	}
	.color1{
		color: #37b0c9;
	}
	.tab-container{
	 text-align:center;
	 margin-top: 60px;
	}
	
	.anniu{
	position: absolute; 
	top:15%; 
	left: 87%;
	}
	.zhengwen{
    margin-top: 70px;
	}

	.zhuye{
	left: 85%;
    position: absolute;
    top: 3%;
	}
	
	.text{color:red;text-align: center;}