@charset "utf-8";

/* 
	@基础平台
*/

.top_b{ height:66px;}
.top_logo{float:left; background:url(../images/top_logo.png) no-repeat; height:48px; width:297px;}
.top_r{ float:right; /*width:300px;*/ margin-right:10px; }
.top_ricon{ font-size:12px; color:white; height:20px; width:80px; display:block; }
.top_ricon a:link{color:white; text-decoration:none;}
.top_ricon a:hover{color:white; text-decoration:underline;}
.top_ricon a:VISITED{color:white; text-decoration:underline;}
.top_ricon ul{ width:290px;  width:320px !important; clear:both;}
.top_ricon ul li{ float:left; width:70px;*width:80px}
.top_ricon_a{ height:17px; width:23px; background:url(../images/top_icon_01.png) no-repeat; display:block; padding-left:26px;}
.top_ricon_b{ height:17px; width:23px; background:url(../images/top_icon_02.png) no-repeat; display:block; padding-left:26px;}
.top_ricon_c{ height:17px; width:23px; background:url(../images/top_icon_03.png) no-repeat; display:block; padding-left:26px;}
.top_r p{ line-height:25px; color:white;}
