*{ margin:auto; padding:0px;}
.body{ font-family:微软雅黑; color:#008B00;text-align:center;
        font-size:140%; background:#fff;width:100%;height:450px;}
a{ text-decoration:none;}
ul{ list-style:none;}
.ui-body-c, .ui-dialog.ui-overlay-c{ background:none; text-shadow:none;}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-

body-c button{ font-family:微软雅黑; }

/*main*/
.main{ overflow:hidden; width:98%; margin:0% auto 0px;}
.main div a{ display:block; position:relative; color:#black; font-size:14px;}
.main div:first-child{ float:left;  width:49%; height:170px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.main div:first-child a p.img{ width:105px; height:100%; position:relative;  

margin:0px auto; top:0px; }
.main div:first-child a p.text{ position:absolute; width:100%; bottom:20%; 

text-align:center;}

.main div:nth-child(2){ float:right; width:49%; height:170px; margin-bottom:8px;}
.main div:nth-child(2) a{ width:100%; height:0px;}
.main div:nth-child(2) a p.img{position:relative; margin:0px auto; top:10px;}
.main div:nth-child(2) a p.text{ position:absolute; width:100%; bottom:15%; 

text-align:center;}
.main div:nth-child(2) a:first-child{}
/* .main div:nth-child(2) a:nth-child(2){ background:#092296; margin-top:0px;} 

*/

.main div:nth-child(3),.main div:nth-child(4){ clear:right; width:50%; 

height:80px; float:left;}
.main div:nth-child(3) a:first-child,.main div:nth-child(4) a:first-child{ 

float:left; width:47%; height:100%;}
.main div:nth-child(3) a:nth-child(2),.main div:nth-child(4) a:nth-child(2){ 

float:left; width:47%; height:100%; }
.main div:nth-child(3) a p.img,.main div:nth-child(4) a p.img{width:35px; 

height:100%; position:relative; margin:0px auto; top:10px;}
.main div:nth-child(3) a p.text,.main div:nth-child(4) a p.text{ 

position:absolute; width:100%; bottom:15%; text-align:center;}
.main div:nth-child(4){ float:right !important}
.main div:nth-child(4) a:first-child{  !important; margin-left:2%;}
.main div:nth-child(4) a:nth-child(2){  !important;}

.footer{ line-height:1%; text-align:center;}
.footer-top{ color:#333; font-weight:bold; color:#fff;}
.footer-bottom{ background:#FFF; color:#008B00;font-size: 50%}
.footer-bottom a{ color:#fff;}

/*妤犵偠宕垫导鍛存偋閿燂拷
header{text-align:center;position:relative;height:30%;overflow:hidden; margin-

bottom:2%; }
ul{ margin:0px; padding:0px;}
#nav{ position:absolute; width:100%; height:10%; line-height:20px; bottom:0px; 

z-index:999;}
#nav{ float:left; margin-right:5%; opacity:1;}
#nav ul li{ float:left; background:#eee; border-radius:60%; width:10px; 

height:10px; margin-left:10px; margin-top:5px; opacity:0.3;}
#nav ul li.active{ background:#fff;opacity:0.8;}
.black{}
.banner{}
.banner img{
	width:100%;
	min-height:100%;

}
.banner ul li{ float:left; padding:0px 0px;}

 .catemenu {
overflow: hidden;
background-color: #fff;
border-radius: 4px;
margin: 10px 10px 4px 9px;
box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
 .catemenu ul {
width: 100%;
overflow: hidden;
}
.catemenu li {
display: list-item;
text-align: -webkit-match-parent;
}
 .catemenu li {
width: 33.33%;
float: left;
font-size: 15px;
border-top: 1px solid #EDEDED;
}
 .catemenu li:nth-child(-n+3) {
border-top: 0 none;
}
 .catemenu a{
display: block;
border-right: 1px solid #EDEDED;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding:20px 5px;
height:100%;
text-align:center;
}
 .catemenu li:nth-child(3n) a{
border-right: 0 none;
}
ul {
list-style: none;
}

.weiba-masklayer.black {
    background-color: #000000;
    opacity: 0;
}
.logo{ position:absolute; top:10px; left:0px; width:50px; height:50px;}
.logo img{ width:40px; height:100%;}


