/*全局*/
body,ul,li{ margin:0px; padding:0px; font-family:'微软雅黑';}
ul,li{ list-style:none;}
a{ text-decoration:none;}
/*主体*/
.phone{ width:100%; height:100%; position:absolute; top:0; left:0; overflow:hidden;}
.logo{ height:1.6rem; width:100%; background-color:#000000; position:absolute;  top:0rem; left:0rem;}
.SY_icon{ position:absolute; top:0.2rem; right:-1.2rem; width:2.5rem; height:2.5rem;}
.SY_icon img{width:1.2rem; height:1.2rem;display:block;}
.header img,.logo img,.footer img{ width:100%;}
.main{ width:100%; position:absolute;  top:1.6rem; left:0rem; bottom:1rem; overflow:auto;}
#banner{ width:100%; overflow:hidden;}
#TuList{ width:40rem; overflow:hidden;}
#TuList a{ float:left;}
#TuList img{ width:100%; }
.index01_icon{ width:100%; overflow:hidden;}
.index01_icon li{ width:2.5rem; height:2.5rem;  box-sizing:border-box; float:left; }
.index01_icon a{ font-size:0.3rem; text-align:center;display:block; color:#666; }
.index01_icon img{ width:1.2rem; height:1.2rem;display:block; margin-left:0.7rem;}
.footer{ height:1rem; width:100%; position:absolute; bottom:0; left:0; width:100%; overflow:hidden;}
/*学院新闻列表*/
.title_name{ width:100%; height:1rem; background-color:#f2f2f2;border-bottom:#ccc 1px solid;}
.title_nametext{ float:left;line-height:1rem; font-size:0.45rem; border-left:#EC9F1F 0.1rem solid; }
.title_nameTX{ float:right; font-size:0.4rem; color:#2e87d3; margin-right:0.4rem;line-height:1rem;}
.New_list{ padding-left:0.5rem; clear:both}
.New_list li{ border-bottom:#f2f2f2 1px solid; line-height:0.8rem; height:0.8rem;}
.New_list a{ font-size:0.4rem; color:#2e87d3; line-height:0.8rem; float:left;}
.New_list_time{float:right; color:#999; font-size:0.3rem;line-height:0.8rem;}
/*学院新闻*/
.new_title{ font-size:0.6rem; text-align:center;}
.XY_newtime{ text-align:center;}
.XY_newtime span{ color:#999;font-size:0.4rem; }
.XY_newmain{ padding-left:0.5rem; padding-right:0.5rem;}
.XY_newmain span{ text-indent:0.8rem; float:left;font-size:0.4rem;}
.textchange{ font-size:20px; color:#2e87d3;}
.XY_new img{ width:100%; display:block;}

