<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>微主页</title>
</head>
<style>

</style>
<body>
<div class="phone_01">
	<div class="logo">
    	<img src="image/logo.png" width="100%" height="100%">
    </div>
    <div class="main_02">
    	<div class="banner">
        	<img src="image/banner_01.png" width="100%" height="100%">
        </div>
    	<div class="YM_iocn">
        	<ul class="iocn_ul" style="margin-top:2%">
                <a href="#">
                    <li>
                        <img src="image/01.png">
                        学院新闻
                    </li>
                </a>
                <a href="#">
                    <li>
                        <img src="image/02.png">
                        校园介绍
                    </li>
                </a>
                <a href="#">
                    <li>
                        <img src="image/03.png">
                        学院风光
                    </li>
                </a>
                <a href="#">
                    <li>
                        <img src="image/04.png">
                        校园导航
                    </li>
                </a>
                <a href="#">
                    <li>
                        <img src="image/05.png">
                       	
                        学院校历
                    </li>
                </a>
                <a href="#">
                    <li>
                        <img src="image/06.png">
                        一键救援
                    </li>
                </a>
                 <a href="#">
                    <li>
                        <img src="image/07.png">
                       	流程申请
                    </li>
                </a>
                <a href="#">
                    <li style=" border-bottom:none">
                        <img src="image/08.png">
                        校内电话
                        
                    </li>
                </a>
                 <a href="#">
                    <li style=" border-bottom:none">
                        <img src="image/09.png">
                       	关于我们
                    </li>
                </a>
                <a href="#">
                    <li style=" border-bottom:none">
                        <img src="image/10.png">
                        服务帮助
                    </li>
                </a>
                 
            </ul>
        </div>
    </div>
    <div class="foot_01">
    	<img src="image/BQ.png" width="100%" height="100%">
    </div>
    <div class="chahua">
    	<img src="image/chahua.png">
    </div>
    <div class="FH_btn">
    	<img src='image/fanhui.png'>
    </div>
</div>
</body>
</html>
